<header>
    <h1 class="logo"><a href="">Node-Blog</a>  </h1>
    <nav>
        <li><a href=""> search</a></li>
        <li><a href=""> create </a></li>
        <li><a href=""> about</a></li>   
    </nav>
</header>