<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <section> 
                <h1> Browse Categories</h1>
                <div class="content"> </div>
            </section>
            <section> 
                <h1>All blogs</h1>
                <div class="content"></div>
            </section>
        </main>
        <%- include("./partials/footer.ejs") %>
        <script src="" async defer></script>
    </body>
</html>