<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <section class="category-content">
                <form action="/category/create" method="POST">
                  
                    <label for="title">Category Title:</label>
                    <input type="text" id="title" name="title" />
                
                    <button type="submit">submit</button>
                </form>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
        <script src="" async defer></script>
    </body>
</html>
